</section>

<footer>
  <p>Tokinar runs on <a href="https://tokbox.com" target="_blank">TokBox</a> | <a href="https://github.com/kaustavdm/tokinar" target="_blank">View Source</a></p>
</footer>
<% scripts.forEach(function (script) { %>
  <script src="/assets/js/<%= script %>.js"></script>
<% }); %>

</body>
</html>
