logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
build/Release
node_modules
.lock-wscript
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.tern-port
*_flymake.*

# Ignore main config file
/config.js

# Ignore default storage location
/storage

# Ignore default ssl certificate and key
/key.pem
/cert.pem
