<%- include("includes/head") %>

<h1 class="page_title">OOPS!</h1>

<div class="highlight">
  <p>Server has gone bonkers!</p>
  <a href="/" class="btn btn-light">&lt; Back to homepage</a>
</div>

<%- include("includes/foot") %>
