<%- include("includes/head") %>

<h1>Tokinar</h1>

<div class="highlight">
  <a href="/webinar/new" class="btn">Start Webinar Now</a>
  OR
  <a href="/schedule" class="btn btn-light">Schedule Webinar</a>
</div>

<%- include("includes/foot") %>
