<%- include("includes/head") %>

<h1>Could not find webinar</h1>

<div class="highlight">
  <p>This webinar was either not created or has been removed.</p>
  <a href="/" class="btn btn-light">&lt; Back to homepage</a>
</div>

<%- include("includes/foot") %>
