<%- include("includes/head") %>

<h1>Create a new Webinar</h1>

<form method="POST" id="form-webinar-new" autocomplete="off">

  <div class="inputs">
    <div class="input-box">
      <label class="required" for="webinar-name">Webinar name</label>
      <input type="text" id="webinar-name" maxlength="32" name="webinar_name" required autofocus>
    </div>
    <div class="input-box">
      <label for="webinar-presenter-pin">Presenter PIN</label>
      <input type="text" id="webinar-presenter-pin" maxlength="32" name="webinar_presenter_pin">
    </div>
    <div class="input-box">
      <label for="webinar-viewer-pin">Viewer PIN</label>
      <input type="text" id="webinar-viewer-pin" maxlength="32" name="webinar_viewer_pin">
    </div>
  </div>

  <div class="highlight">
    <a href="/" class="btn btn-grey">&lt; Cancel</a>
    <input type="submit" class="btn" value="Start Webinar">
  </div>

  <input type="hidden" name="_csrf" value="<%= csrf %>">

</form>

<%- include("includes/foot") %>
