<%- include("includes/head-with-opentok") %>

<h1 class="page-title">Webinar: <%= webinar.name %></h1>

<div id="webinar" data-opentok="<%= JSON.stringify(opentok) %>">
  <div id="presenter"></div>
</div>

<%- include("includes/foot") %>
