/* - Global styles/overrides ------------------ */

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background-color: #e4e4e4;
    color: #151515;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

/* - Headings --------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin-left: 0;
}

h1 {
    color: #5d5d5d;
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.1rem;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
}

/* - Hyperlinks and buttons ------------------- */
a,
a:visited {
    color: #0099cc;
    text-decoration: none;
    transition: color 0.5s ease-out;
}

a:hover {
    color: #0080ab;
}

input[type="submit"] {
    border: 0;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
}

a.btn,
button.btn,
input[type="submit"].btn {
    background-color: #0099cc;
    min-height: 2.5rem;
    min-width: 10rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin: 0.5rem;
    padding: 1rem;
    display: inline-block;
    border: none;
    transition: background-color 0.5s ease-out, border 0.5s ease-out, color 0.5s ease-out;
}

a.btn:hover,
button.btn:hover,
input[type="submit"].btn:hover {
    background-color: #0080ab;
}

a.btn:disabled,
button.btn:disabled,
input[type="submit"].btn:disabled {
    background-color: #639aad;
    color: #ccc;
    cursor: not-allowed;
}

a.btn.btn-light,
button.btn.btn-light,
input[type="submit"].btn.btn-light {
    background-color: #fff;
    border: 1px solid #0099cc;
    color: #0099cc;
}

a.btn.btn-light:hover,
button.btn.btn-light:hover,
input[type="submit"].btn.btn-light:hover {
    color: #0080ab;
    border-color: #0080ab;
}

a.btn.btn-light:disabled,
button.btn.btn-light:disabled,
input[type="submit"].btn.btn-light:disabled {
    cursor: not-allowed;
    color: #ccc;
    border-color: #ccc;
}

a.btn.btn-grey,
button.btn.btn-grey,
input[type="submit"].btn.btn-grey {
    background-color: #fff;
    border: 1px solid #c3c3c3;
    color: #adadad;
}

a.btn.btn-grey:hover,
button.btn.btn-grey:hover,
input[type="submit"].btn.btn-grey:hover {
    color: #0080ab;
    border-color: #0080ab;
}

a.btn.btn-grey:disabled,
button.btn.btn-grey:disabled,
input[type="submit"].btn.btn-grey:disabled {
    cursor: not-allowed;
    color: #ccc;
    border-color: #333;
}

a.btn.btn-red,
button.btn.btn-red,
input[type="submit"].btn.btn-red {
    background-color: #ce6363;
    color: #fff;
}

a.btn.btn-red:disabled,
button.btn.btn-red:disabled,
input[type="submit"].btn.btn-red:disabled {
    cursor: not-allowed;
    background-color: #d29e9e;
    color: #ccc;
}

/* - Reusable components ---------------------- */
.center {
    text-align: center;
}

.highlight {
    width: 75%;
    margin: 0 auto;
    position: relative;
    padding: 2rem;
    background-color: #fafafa;
    text-align: center;
}

.inputs {
    width: 75%;
    margin: 1rem auto;
    position: relative;
    background-color: #fff;
    font-size: 1.25rem;
    text-align: center;
}

.inputs > .input-box {
    margin: 1rem 0;
}

.input-box label {
    width: 12rem;
    display: inline-block;
    text-align: right;
    margin-right: 1rem;
    color: #13576e;
    cursor: pointer;
}

.input-box label.required::after {
    content: "*: ";
}

.input-box label::after {
    content: " : ";
}

.input-box input[type="text"] {
    padding: 0.5rem;
    width: 20rem;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.125rem;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #0099cc;
    border-radius: 0;
    transition: border 0.5s ease-out;
}

.input-box input[type="text"]:focus {
    border: 1px solid #13576e;
    border-radius: 0;
}

/* - Page layout ------------------------------ */
body > section {
    display: block;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    padding: 0 1rem;
    min-height: 90vh;
    background-color: #fff;
}

.page-title {
    margin: 1rem 0 1rem 0;
    padding: 0 0 1rem 0;
    border-bottom: 1px solid #0099cc;
}

.page-title span {
    color: #0080ab;
}

.msg {
    padding: 1rem;
    background-color: #0099cc;
    color: #fff;
    font-size: 1.125rem;
}

.msg.error-msg {
    background-color: #ce6363;
}

.box > div {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.box > div > h2 {
    color: #0080ab;
    padding: 0.25rem;
    margin: 0 0 0.25rem 0;
    font-size: 1rem;
}

footer {
    width: 100%;
    margin: 2rem 0 0 0;
    padding: 1rem;
    background-color: #e4e4e4;
    color: #7b7b7b;
    font-size: 0.75rem;
}

footer a,
footer a:visited {
    color: #6f6f6f;
}

footer a:hover {
    color: #333;
}

footer p {
    text-align: center;
}

/* - Homepage --------------------------------- */


/* - Webinar pages ---------------------------- */
#webinar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#webinar > div {
    margin: 0px auto;
}

#webinar .controls {
    width: 16rem;
}

#webinar .display {
    flex-grow: 1;
}

#webinar .display > div {
    margin-bottom: 1.5rem;
}

#presenter-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}

#presenter-msg {
    flex-grow: 1;
    padding: 0 1rem;
    text-align: left;
    color: #0080ab;
    font-size: 0.9rem;
}

#broadcast-status {
    width: 7.5rem;
    text-align: center;
    padding: 0.25rem;
    transition: all 0.5s ease-out;
}

#broadcast-status.offline {
    background-color: #8c8c8c;
    color: #f3f3f3;
}

#broadcast-status.onair {
    background-color: green;
    color: #fff;
    font-weight: bold;
}

#broadcast-status.connecting {
    background-color: #d0b600;
    color: #fff;
}

#broadcast-status.paused {
    background-color: #0088ab;
    color: #fff;
    font-weight: bold;
}

#broadcast-status.error {
    background-color: #ce6363;
    color: #fff;
    font-weight: bold;
}

#stats {
    display: flex;
    flex-flow: row wrap;
}

#stats > div {
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

#installers.hidden {
    display: none;
}

#presenter-view {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.viewport {
    background-color: #f3f3f3;
    margin: 0 1rem;
    padding: 1rem;
    width: 24rem;
    height: 18rem;
    transition: all 0.5s ease-out;
}

.viewport:first-child {
    margin-left: 0;
}

.viewport:first-child {
    margin-right: 0;
}

.viewport.inactive {
    background-color: #f5f5f5;
}

.viewport h3 {
    margin: 0 0 0.5rem 0;
}

/* - Schedule pages --------------------------- */
