/* - Global styles/overrides ------------------ */

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    background-color: #fff;
    color: #151515;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

/* - Headings --------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    margin-left: 0;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.1rem;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
}

/* - Hyperlinks and buttons ------------------- */
a,
a:visited {
    color: #0099cc;
    text-decoration: none;
    transition: color 0.5s ease-out;
}

a:hover {
    color: #0080ab;
}

input[type="submit"] {
    border: 0;
    font-size: 1rem;
    font-family: "Noto Sans", sans-serif;
}

a.btn,
button.btn,
input[type="submit"].btn {
    background-color: #0099cc;
    min-height: 2.5rem;
    min-width: 10rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin: 0.5rem;
    padding: 1rem;
    display: inline-block;
    transition: background-color 0.5s ease-out, border 0.5s ease-out, color 0.5s ease-out;
}

a.btn:hover,
button.btn:hover,
input[type="submit"].btn:hover {
    background-color: #0080ab;
}

a.btn.btn-light,
button.btn.btn-light,
input[type="submit"].btn.btn-light {
    background-color: #fff;
    border: 1px solid #0099cc;
    color: #0099cc;
}

a.btn.btn-light:hover,
button.btn.btn-light:hover,
input[type="submit"].btn.btn-light:hover {
    color: #0080ab;
    border-color: #0080ab;
}

a.btn.btn-grey,
button.btn.btn-grey,
input[type="submit"].btn.btn-grey {
    background-color: #fff;
    border: 1px solid #c3c3c3;
    color: #adadad;
}

a.btn.btn-grey:hover,
button.btn.btn-grey:hover,
input[type="submit"].btn.btn-grey:hover {
    color: #0080ab;
    border-color: #0080ab;
}

a.btn:first-child,
button.btn:first-child,
input[type="submit"].btn:first-child {
    margin-left: 0;
}

a.btn:last-child,
button.btn:last-child,
input[type="submit"].btn:last-child {
    margin-right: 0;
}

/* - Reusable components ---------------------- */
.center {
    text-align: center;
}

.highlight {
    width: 75%;
    margin: 0 auto;
    position: relative;
    padding: 2rem;
    background-color: #fafafa;
    text-align: center;
}

.inputs {
    width: 75%;
    margin: 1rem auto;
    position: relative;
    background-color: #fff;
    font-size: 1.25rem;
    text-align: center;
}

.inputs > .input-box {
    margin: 1rem 0;
}

.input-box label {
    width: 12rem;
    display: inline-block;
    text-align: right;
    margin-right: 1rem;
    color: #13576e;
    cursor: pointer;
}

.input-box label.required::after {
    content: "*: ";
}

.input-box label::after {
    content: " : ";
}

.input-box input[type="text"] {
    padding: 0.5rem;
    width: 20rem;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.125rem;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #0099cc;
    border-radius: 0;
    transition: border 0.5s ease-out;
}

.input-box input[type="text"]:focus {
    border: 1px solid #13576e;
    border-radius: 0;
}

/* - Page layout ------------------------------ */
body > section {
    display: block;
    width: 95%;
    margin: 0 auto;
}

.msg {
    padding: 1rem;
    background-color: #0099cc;
    color: #fff;
    font-size: 1.125rem;
}

.msg.error-msg {
    background-color: #ce6363;
}

/* - Homepage --------------------------------- */


/* - Webinar pages ---------------------------- */


/* - Schedule pages --------------------------- */
